@page "/fetchlogs"
@using CommonLibrary.Logging
@using CommonLibrary.Core
@inject IRepository<LogHandle> _handlesRepository

<PageTitle>Weather forecast</PageTitle>

<h1>Log handles</h1>

<p>Log handles list from database, select to see log messages.</p>

@if (_handles == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Object Id</th>
            <th>Object type</th>
            <th>Descriptor</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var logHandle in _handles)
        {
            if (!logHandle.IsDeleted)
            {
                <tr  class="@selectedRowClasse(logHandle.Id)" @onclick="() => _messages = logHandle.Messages">
                    <td>@logHandle.Id</td>
                    <td>@logHandle.ObjectId</td>
                    <td>@logHandle.ObjectType</td>
                    <td>@logHandle.Descriptor</td>
                </tr>
            }
        }
        </tbody>
    </table>
    <br>
    <h3>Messages</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Creation date</th>
            <th>Severity</th>
            <th>Descriptor</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var message in _messages)
        {
            <tr>
                <td>@message.CreationDate</td>
                <td>@message.Severity</td>
                <td>@message.Descriptor</td>
                </tr>
        }
        </tbody>
    </table>
}




@code {
    string selectedRowClasse(Guid logHandleId)
        => _messages.First().LogHandleId == logHandleId ? "border-danger table-hover" : "";
}