@page "/counter"
<PageTitle>Counter</PageTitle>
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<p>Login status: @UserState.Value.IsAuthenticated</p>
<input placeholder="Username" type="text" @bind="@UserName" /> 
<input placeholder="Password" type="text" @bind="@Password" />
<button @onclick="Login">Login</button>
<button @onclick="SignOut">SignOut</button>

@if (UserState.Value.UserClaims.Any())
{
    foreach (var claim in UserState.Value.UserClaims.ToList())
    {
        <ul>
            <li>@claim.Type :: @claim.Value</li>
        </ul>
    }
}
@code
{
    string UserName { get; set; }
    string Password { get; set; }
}
<style>
    .e-panel-header {
        background-color: rgba(0, 0, 0, .1);
        text-align: center;
    }
    .e-panel-content {
        text-align: center;
        margin-top: 10px;
    }
</style>